*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circle{
    animation: changeColorCircle 2s ease-in-out infinite;
}

.ellipse{
    animation: changeColorEllipse 2s ease-in-out infinite;
}

@keyframes changeColorCircle{
    0%{
        fill: red;
        stroke: green;
    }
    50%{
        fill: blue;
        stroke: green;
    }
    100%{
        fill: green;
        stroke: red;
    }
}

@keyframes changeColorEllipse{
    0%{
        fill: rebeccapurple;
        stroke: yellowgreen;
    }
    50%{
        fill: fuchsia;
        stroke: hotpink;
    }
    100%{
        fill: maroon;
        stroke: mediumslateblue;
    }
}

